header {
    background-color: 1F2937;
}

.hero-section {
    background-color: 1F2937;
}

.quote-section {
    background-color: E5E7EB;
}

.cta.div {
    background-color: 3882F6;
}

footer {
    background-color: 1F2937;
}